* {}

@font-face {
    font-family: 'FontAwesome';
    src: url('font-awesome-4.7.0/fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('font-awesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
}

#home {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_box {
    border: 2px solid;
    padding: 15px 20px;
    border-color: white;
    overflow: hidden;
}

.appear {
    animation: show 3s both;
}

#home p {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 0;
    overflow: hidden;
}

.word1 {
  animation-delay: 2s;
}

.word2 {
  animation-delay: 4s;
}

@keyframes show {
    0% {
        -webkit-transform: translate(0, 200px);
        -ms-transform: translate(0, 200px);
        transform: translate(0, 200px);
        opacity: 0;
    }

    70%{
      opacity: 0.3;
    }
    100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}


#navToggle {
    display: none;
    /*通常時は非表示にしておきます*/
    position: fixed;
    z-index: 3;
    /*bodyに対しての絶対位置指定です*/
    left: 10px;
    top: 10px;
    width: 30px;
    height: 25px;
    cursor: pointer;
}


/*#navToggle div {
    position: relative;
}*/


/*spanの絶対位置指定の親にします*/

#navToggle span {
    display: block;
    position: absolute;
    /*#navToggle div に対して*/
    width: 100%;
    border-bottom: solid 3px white;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out
}

#navToggle span:nth-child(1) {
    top: 0
}

#navToggle span:nth-child(2) {
    top: 11px
}

#navToggle span:nth-child(3) {
    top: 22px
}


/*header footer*/


/*header, footer {
    width:100%;
    z-index:2;
    position:fixed;
    background:rgba(255,255,255,.7)}
footer {/*略/}
/*header menu*/

header {
    z-index: 4;
}

header ul li {
    list-style-type: none;
    margin-left: -20px;
}


/*header ul li::after {
    content: ' |'
}

header ul li:last-child::after {
    content: ''
}*/

header ul li a {
    color: rgba(240, 236, 112, 1);
    display: block;
    margin: 15px 0px;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

header nav {
    position: fixed;
    display: flex;
    /*bodyに対しての絶対位置*/
    right: 0;
    top: -100vh;
    /*通常時はビュー外*/
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100vh;
    -webkit-transition: .5s ease-in-out;
    /*transitionで動きを*/
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-align: center;
}


/*
header ul {
    margin: 0
}

header ul li {
    display: block;
    margin: 0;
    border-bottom: dotted 1px #fff;
    line-height: 3
}

header ul li a {
    display: block
}

header ul li::after {
    content: ''
}

header ul li:last-child {
    border-bottom: none
}*/


/* Toggle(Button) */


/*display:noneだったボタンを display:blockにして表示します*/

#navToggle {
    display: block
}


/* Click Toggle(Button) */


/*ここから jQueryで header要素に付けた「.openNav」を利用します*/


/*.openNavが付いた要素内のボタン（#navToggle）内のspanへの指定*/


/*最初のspanをマイナス45度に*/

.openNav #navToggle span:nth-child(1) {
    top: 11px;
    border-color: rgba(240, 236, 112, 1);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}


/*2番目と3番目のspanを45度に*/

.openNav #navToggle span:nth-child(2), .openNav #navToggle span:nth-child(3) {
    top: 11px;
    border-color: rgba(240, 236, 112, 1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg)
}


/*header menu*/


/*.openNavが付いた要素の中のnavを 縦方向に351px移動（=表示される）*/

.openNav nav {
    -moz-transform: translateY(100vh);
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
}

.contents {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#about, #info, #staff, #twitter {
    padding: 2% 10%;
    z-index: -2;

}


/*以下背景色について*/


/*背景の斜めのつなぎを作る*/

.background-home {
    position: relative;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(-200deg, rgb(240, 236, 112) 50%, rgb(31, 48, 137) 50%, rgb(31, 48, 137));
}

h1 {
    font-size: 30px;
    margin: 10px 35%;
    text-align: center;
    border-bottom: 2px solid;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
}

#about {
    /*background-color: rgb(31, 48, 137);*/
    background-color: #3d4799;
}

.about_content {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ;
}

#about h1 {
    padding-top: 50px;
}

p.speech {
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: 'Pacifico', cursive;
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    line-height: 110%;
    z-index: -1;
}

p.speech span {
    color: red;
}

p.introduction {
    width: 70%;
    height: 300px;
    text-align: left;
    line-height: 180%;
    color: white;
    font-size: 12px;
    font-family: "Noto Sans Japanese";
}

.background-about {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(-200deg, #3d4799 50%, #d8757d 50%, #d8757d);
}

#info {
    /*background-color: rgb(246, 150, 150);*/
    background-color: #d8757d;
}


/*#info i::before{
  color: white;
  flex: 1;
}*/

.info_content1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}

.info_content2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.bag {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    background-color: #413f3f;
    border-radius: 5%;
    position: relative;
    z-index: -1;

}

.bag::before{
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #413f3f solid 20px;
  top: -70px;

}

#info i {
    color: white;
    font-size: 20px;
    text-align: center;
    flex: 1;
}

p.when {
    color: white;
    font-size: 35px;
    font-family: "Noto Sans Japanese";
    text-align: left;
    padding: 0px;
    margin-left: 10px;
    /*margin: 20px 10px 20px 10px;*/
    flex: 3;
}

p.place {
    color: white;
    font-size: 30px;
    font-family: "Noto Sans Japanese";
    text-align: left;
    margin-left: 10px;
    /*margin: 20px 10px 20px 10px;*/
    flex: 3;
}

p.place span {
    font-size: 17px;
    color: white;
    font-family: "Noto Sans Japanese";
}

#info h3 {
    color: white;
    font-size: 15px;
    font-family: "Sawarabi Mincho";
    margin: 10px 0px 0px 0px;
    z-index: 2;
}

#info li {
    width: 70%;
    color: white;
    font-size: 13px;
    list-style: none;
    font-family: "Mplus 1p";
    font-weight: bold;
    z-index: 2;
}

.background-info {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(-200deg, #d8757d 50%, #65c1d8 50%, #65c1d8);
}

#staff {
    /*background-color: rgb(115, 240, 227);*/
    background-color: #65c1d8;
}

.staff-intro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.ibunka, .tiiki, .jyokomyu, .gendai {
    width: 44%;
    /*background-color: white;*/
    margin: 1%;
    border: solid 3px;
    text-align: center;
    border-color: white;
    border-radius: 10%;
}

.ibunka {
    /*background-color: #d3637d;*/
    background-color: #20b3d8;
}

.tiiki {
    /*background-color: #db9d6d;*/
    background-color: #20b3d8;
}

.jyokomyu {
    /*background-color: #3d4799;*/
    background-color: #20b3d8;
}

.gendai {
    /*background-color: #d8d464;*/
    background-color: #20b3d8;
}


/*アニメーション*/


/*.ibunka:hover, .tiiki:hover, .jyokomyu:hover, .gendai:hover {
    width: 45%;
}*/

img.human {
    width: 80%;
    margin-top: 5%;
}

.staff-intro a {
    display: block;
    text-decoration: none;
    font-size: 180%;
    color: white;
    font-family: "Nico Moji";
    margin: 10px 0;
}

.background-staff {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(-200deg, #65c1d8 50%, #d8d465 50%, #d8d465);
}

#twitter {
    /*background-color: rgb(240, 236, 112);*/
    background-color: #d8d465;
    padding-bottom: 30%;
}

#twitter h1 {
    margin-bottom: 20%;
}


/*twitter中央寄せ*/

.twitter-box {
    display: flex;
    justify-content: center;
}
